# ignore Desktop Services Store
.DS_Store

# ignore IntelliJ's project specific settings files
.idea

# .msh

__pycache__

geometry_pkg
helmholtz_pkg/helmholtz_pkg.egg-info
helmholtz_pkg/helmholtz_pkg/tests
helmholtz_pkg/helmholtz_pkg/utils
micca_pkg/micca_pkg.egg-info
micca_pkg/micca_pkg/utils.py
Rijke/sensitivity.py
rijke_pkg
UnitSquare

MICCA
